<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Series</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title class="ion-text-center ion-padding-top">Todas las series</ion-title>

  <ion-card *ngFor="let serie of series" #card>
    <img alt="{{serie.nombre}}" [src]="serie.imagen" />
    <ion-card-header>
      <ion-card-title>{{serie.nombre}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-col col-3><ion-button shape="block" color="warning" (click)="tarde()">Ver más Tarde</ion-button></ion-col>
      <ion-col col-3><ion-button shape="block" color="success" (click)="visto()">Visto</ion-button></ion-col>
    </ion-card-content>
  </ion-card>

</ion-content>
